---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 0px auto;
    max-width: 600px;
    text-align: center;
    padding-top: 60px;
  }
</style>

<div class="container">
  <img src="/assets/img/message.gif" width="540" alt="{{ site.translations.contact.after_send.title | default: 'Message has been send!' }}">
  <p><strong>{{ site.translations.contact.after_send.title | default: "Message has been send!" }}</strong></p>
  <p>{{ site.translations.contact.after_send.message | default: "Message için teşekkürler. En kısa sürede size geri dönüş yapacağız." }}</p>
</div>
